# Pandas

Pandas is a Python library. A **library** in Python contains a set of tools (called functions) that perform tasks on our data.

Pandas is one of the best options for working with tabular data in Python.

## Import a library

Python doesnâ€™t load all of the libraries available to it by default. We have to add an import statement to our code in order to use library functions. To import a library, we use the syntax import libraryName. If we want to give the library a nickname to shorten the command, we can add as nickNameHere. The common nickname for pandas is pd.

In [3]:
#Import the library
import pandas as pd

## Importing data & the Pandas Dataframe

Pandas provides an object called DataFrame. Dataframes represent tabular data. They are a 2-dimensional data structure. They include columns, each of which is a Series with a name, and all columns share the same index (An index refers to the position of an element in the data structure.). We import a csv table into a data frame using the read_csv function.

In [6]:
# Create a dataframe by reading CSV data from a URL
data_url = 'https://nes-lter-data.whoi.edu/api/ctd/en617/metadata.csv'

#Read in data stored locally on your computer
#data_local= 'C:/Users/ksoenen/Desktop/Untitled Folder/surveys.csv'

#Read in data from BCO-DMO ERDDAP server (URL)
#data_url_BCODMO = 'https://erddap.bco-dmo.org/erddap/tabledap/bcodmo_dataset_739098.csvp'

my_dataframe = pd.read_csv(data_url)
my_dataframe.head(5)

,cruise,cast,date,latitude,longitude,nearest_station,distance_km
0,EN617,1,2018-07-20 17:23:53+00:00,41.200667,-70.885333,L1,0.472395
1,EN617,2,2018-07-20 22:57:14+00:00,41.030333,-70.880667,L2,0.224528
2,EN617,3,2018-07-21 01:15:21+00:00,41.030000,-70.769833,u2a,0.224259
3,EN617,4,2018-07-21 02:58:24+00:00,41.030333,-70.991167,d2a,0.257766
4,EN617,5,2018-07-21 06:39:49+00:00,40.863667,-70.883000,L3,0.047935

IMPORTANT:  A DataFrame always has an index (0-based). An index refers to the position of an element in the data structure.

NOTE 1: The read_csv function has many more parameters that can be filled in like  loading a csv without header names add header=None: my_dataframe=pd.read_csv(data_url, header=None) See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html for all paramters related to this function.

NOTE 2: To read in an excel file use the read_excel function and its parameters, i.e. my_dataframe = pd.read_excel(data_URL). See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html for the function specific parameters.

## Basic dataframe info

What are the column names?

In [7]:
# accessing column names returns a column index
my_dataframe.columns

Index(['cruise', 'cast', 'date', 'latitude', 'longitude', 'nearest_station',
       'distance_km'],
      dtype='object')

What types do I have in my column?

In [8]:
my_dataframe.dtypes

cruise              object
cast                 int64
date                object
latitude           float64
longitude          float64
nearest_station     object
distance_km        float64
dtype: object

**Try other functions**  
my_dateframe.shape  
my_dataframe.tail()

## Selections in a dataframe

### Select one column

In [26]:
# accessing a single column returns a Series (1 dimensional) does not have a column name
my_dataframe['longitude']

# Accessing multiple columns, (2 dimensional) list of columns names + indexing operator (column name)
# my_dataframe[['date','cruise']]

0    -70.885333
1    -70.880667
2    -70.769833
3    -70.991167
4    -70.883000
5    -70.772667
6    -70.993167
7    -70.880167
8    -70.880833
9    -70.770833
10   -70.989000
11   -70.888500
12   -70.892167
13   -70.758500
14   -70.779000
15   -70.993167
16   -70.876333
17   -70.884333
18   -70.769667
19   -70.987333
20   -70.879167
21   -70.872333
22   -70.768167
23   -70.766000
24   -70.875333
25   -70.879167
26   -70.889000
27   -70.886167
28   -70.887333
29   -70.879167
30   -70.880833
31   -70.877500
32   -70.878333
33   -70.882167
34   -70.585667
Name: longitude, dtype: float64

### Selecting a row from the dataframe

Selecting a row from a dataframe by index, is done by using the loc attribute. A series representing the row is returned, indexed by column name

In [6]:
row = my_dataframe.loc[4] #4 is the index number
row

cruise                                 EN617
cast                                       5
date               2018-07-21 06:39:49+00:00
latitude                             40.8637
longitude                            -70.883
nearest_station                           L3
distance_km                        0.0479347
Name: 4, dtype: object

### Selecting a row from the dataframe based on another column

Step 1: Set a column as index, in this case the column called 'cast' will be the index

In [16]:
by_cast = my_dataframe.set_index('cast')
by_cast.head(5)

,cruise,date,latitude,longitude,nearest_station,distance_km
cast,,,,,,
1,EN617,2018-07-20 17:23:53+00:00,41.200667,-70.885333,L1,0.472395
2,EN617,2018-07-20 22:57:14+00:00,41.030333,-70.880667,L2,0.224528
3,EN617,2018-07-21 01:15:21+00:00,41.030000,-70.769833,u2a,0.224259
4,EN617,2018-07-21 02:58:24+00:00,41.030333,-70.991167,d2a,0.257766
5,EN617,2018-07-21 06:39:49+00:00,40.863667,-70.883000,L3,0.047935

Step 2: select a row by index of cast

In [17]:
by_cast.loc[2]

cruise                                 EN617
date               2018-07-20 22:57:14+00:00
latitude                             41.0303
longitude                           -70.8807
nearest_station                           L2
distance_km                         0.224528
Name: 2, dtype: object

**Challenge**: Make nearest_station the index and select the rows L2

### Select a slice of rows

In [23]:
by_cast.loc[2:5]

,cruise,date,latitude,longitude,nearest_station,distance_km
cast,,,,,,
2,EN617,2018-07-20 22:57:14+00:00,41.030333,-70.880667,L2,0.224528
3,EN617,2018-07-21 01:15:21+00:00,41.030000,-70.769833,u2a,0.224259
4,EN617,2018-07-21 02:58:24+00:00,41.030333,-70.991167,d2a,0.257766
5,EN617,2018-07-21 06:39:49+00:00,40.863667,-70.883000,L3,0.047935

### Select 1 specific value based on row and column
loc[row label, column label]

In [18]:
by_cast.loc[2,'nearest_station']