### Import your data

In [1]:
import pandas as pd

# create a dataframe by reading CSV data from a URL

data_url = 'https://nes-lter-data.whoi.edu/api/ctd/en617/metadata.csv'

casts = pd.read_csv(data_url, parse_dates=['date'], index_col='cast')
casts.head(5) # "head" means just show the first 5 rows

,cruise,date,latitude,longitude,nearest_station,distance_km
cast,,,,,,
1,EN617,2018-07-20 17:23:53+00:00,41.200667,-70.885333,L1,0.472395
2,EN617,2018-07-20 22:57:14+00:00,41.030333,-70.880667,L2,0.224528
3,EN617,2018-07-21 01:15:21+00:00,41.030000,-70.769833,u2a,0.224259
4,EN617,2018-07-21 02:58:24+00:00,41.030333,-70.991167,d2a,0.257766
5,EN617,2018-07-21 06:39:49+00:00,40.863667,-70.883000,L3,0.047935

### Simple Plotting

In [5]:
casts.sort_values('latitude')

,cruise,date,latitude,longitude,nearest_station,distance_km
cast,,,,,,
22,EN617,2018-07-23 15:46:43+00:00,39.771333,-70.872333,L11,0.964628
21,EN617,2018-07-23 12:59:50+00:00,39.771500,-70.879167,L11,0.406633
20,EN617,2018-07-23 10:21:49+00:00,39.772500,-70.987333,d11a,0.384519
25,EN617,2018-07-24 07:38:18+00:00,39.773833,-70.875333,L11,0.685110
19,EN617,2018-07-23 08:08:23+00:00,39.773833,-70.769667,u11a,0.460756
23,EN617,2018-07-23 17:28:33+00:00,39.941167,-70.768167,L12,0.598224
26,EN617,2018-07-24 11:18:38+00:00,39.947833,-70.879167,L10,0.938761
18,EN617,2018-07-22 21:46:41+00:00,39.949500,-70.884333,L10,1.058509
15,EN617,2018-07-22 13:38:24+00:00,40.093667,-70.779000,u9a,0.657433
16,EN617,2018-07-22 15:46:45+00:00,40.096000,-70.993167,d9a,0.261635
17,EN617,2018-07-22 18:17:39+00:00,40.099500,-70.876333,L9,0.608811
27,EN617,2018-07-24 12:57:11+00:00,40.103833,-70.889000,L9,0.783398
14,EN617,2018-07-22 08:58:16+00:00,40.138667,-70.758500,L8,1.423020
28,EN617,2018-07-24 14:11:34+00:00,40.227167,-70.886167,L7,0.249425
13,EN617,2018-07-22 05:00:38+00:00,40.234167,-70.892167,L7,1.121082
10,EN617,2018-07-21 21:39:59+00:00,40.364500,-70.770833,u6a,0.315482
11,EN617,2018-07-21 23:17:27+00:00,40.364500,-70.989000,d6a,0.325783
12,EN617,2018-07-22 02:08:27+00:00,40.365667,-70.888500,L6,0.513948
24,EN617,2018-07-23 20:55:25+00:00,40.366000,-70.766000,u6a,0.758279
29,EN617,2018-07-24 15:32:23+00:00,40.367333,-70.887333,L6,0.563867
30,EN617,2018-07-24 16:50:32+00:00,40.514833,-70.879167,L5,0.389489
9,EN617,2018-07-21 17:23:38+00:00,40.516833,-70.880833,L5,0.444573
7,EN617,2018-07-21 12:37:37+00:00,40.697167,-70.993167,d4a,0.053034
31,EN617,2018-07-24 18:24:44+00:00,40.697500,-70.880833,L4,0.226620
8,EN617,2018-07-21 14:51:08+00:00,40.698667,-70.880167,L4,0.343261
6,EN617,2018-07-21 11:04:40+00:00,40.700833,-70.772667,u4a,0.462109
32,EN617,2018-07-24 19:51:39+00:00,40.862500,-70.877500,L3,0.496999
5,EN617,2018-07-21 06:39:49+00:00,40.863667,-70.883000,L3,0.047935
33,EN617,2018-07-24 21:39:44+00:00,41.028667,-70.878333,L2,0.443156
3,EN617,2018-07-21 01:15:21+00:00,41.030000,-70.769833,u2a,0.224259
4,EN617,2018-07-21 02:58:24+00:00,41.030333,-70.991167,d2a,0.257766
2,EN617,2018-07-20 22:57:14+00:00,41.030333,-70.880667,L2,0.224528
34,EN617,2018-07-24 23:07:46+00:00,41.196667,-70.882167,L1,0.095141
1,EN617,2018-07-20 17:23:53+00:00,41.200667,-70.885333,L1,0.472395
35,EN617,2018-07-25 01:16:32+00:00,41.323833,-70.585667,MVCO,1.593192

### Exporting a dataframe

### Extra resources

http://queirozf.com/entries/pandas-dataframe-plot-examples-with-matplotlib-pyplot

https://datatofish.com/export-dataframe-to-csv/

http://datacamp-community-prod.s3.amazonaws.com/dbed353d-2757-4617-8206-8767ab379ab3

Statistics: 
https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html